<div class="register-container">
  <h1 class="header">Utwórz post</h1>
  <form class="register-form" [formGroup]="postForm">
    <mat-form-field appearance="fill">
      <mat-label>title</mat-label>
      <input matInput placeholder="nickname" formControlName="title" />
      <mat-error *ngIf="!isTitleValid"
        >tytul musi zawierać 8-16 liter lub cyfr</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select
        [value]="selectedCategories"
        (selectionChange)="setSelectedCategories($event.value)"
        multiple
      >
        <mat-option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="center">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          Optional custom content that replaces the the entire default content.
          <button type="button" (click)="openFileSelector()">
            Browse Files
          </button>
        </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngIf="file">
              <td>
                <strong>{{ file?.name }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="register-button" mat-button [disabled]="postForm.invalid" (click)="onSubmit()">
      utwórz post
    </button>
  </form>
  <!-- <div class="register-redirect">
    <span>Masz już konto?</span><span class="anchor">Zaloguj się!</span>
  </div> -->
</div>
