<div class="register-container">
  <mat-spinner *ngIf="isFetching$ | async; else form"></mat-spinner>
  <ng-template #form>
    <h1 class="header">Utwórz post</h1>
  <form class="register-form" [formGroup]="postForm">
    <mat-form-field appearance="fill">
      <mat-label>Tytul</mat-label>
      <input matInput placeholder="nickname" formControlName="title" />
      <mat-error *ngIf="!isTitleValid"
        >Tytul musi zawierać 8-16 liter lub cyfr</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Kategorie</mat-label>
      <mat-select
        [value]="selectedCategories"
        (selectionChange)="setSelectedCategories($event.value)"
        multiple
      >
        <mat-option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="center">
      <ngx-file-drop
        (onFileDrop)="dropped($event)"
        *ngIf="!file; else uploadedFile"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          Przeciągnij plik tutaj lub wybierz z listy
          <button mat-button type="button" (click)="openFileSelector()">
            Przeglądaj pliki
          </button>
        </ng-template>
      </ngx-file-drop>
      <ng-template #uploadedFile>
        <div class="upload-table">
          <img class="uploaded-image" [src]="imageSrc" />
          <button mat-button (click)="onFileRemove()">Usuń obraz</button>
        </div>
      </ng-template>
    </div>
    <button class="register-button" mat-button [disabled]="!isFormValid" (click)="onSubmit()">
      utwórz post
    </button>
  </form>
  </ng-template>
  
  <!-- <div class="register-redirect">
    <span>Masz już konto?</span><span class="anchor">Zaloguj się!</span>
  </div> -->
</div>
