<div class="top-bar">
  <nav class="nav">
    <button mat-button routerLink="/posts" [queryParams]="{sorting: 'top'}" >Najlepiej oceniane</button>
    <button mat-button routerLink="/posts" [queryParams]="{sorting: 'newest'}">Strona główna</button>
    <button mat-button routerLink="/posts" [queryParams]="{sorting: 'daily'}">Ostatnie 24h</button>
  </nav>
  <ng-template #actions>
    <button mat-button (click)="openLoginDialog()">login</button>
    <button mat-button (click)="openRegisterDialog()">
      register
    </button></ng-template
  >

  <div class="user-menu" *ngIf="isLoggedIn$ | async; else actions">
    <button mat-button [matMenuTriggerFor]="menu">
      <span>{{ (user$ | async)?.nickname }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj się</span>
      </button>
    </mat-menu>
  </div>
</div>
