.add-post-btn {
  height: 60px;
  width: 100px;
  border-radius: 16px;
  font-weight: 700;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #006dd1;
  color: white;
  font-family: "Raleway";
}
