<div class="posts-container">
  <mat-spinner *ngIf="isFetching$ | async; else list"></mat-spinner>
  <ng-template #list>
    <div class="list-wrapper" *ngIf="posts$ | async as posts">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
      <mat-paginator
        [length]="results$ | async"
        [pageSize]="filters.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="filtersChanged($event)"
      >
      </mat-paginator>
    </div>
  </ng-template>
  
  <app-categories [categories]="categories$ | async" (selected)="onCategoryChange($event)"></app-categories>
</div>
