.posts-container {
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: darken(white, 10%);

  .list-wrapper {
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
  }
  app-categories {
    margin-top: 50px;
  }
}
