.post-container {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  mat-card {
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: darken(white, 5%);

    .top-section {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .creation-details {
        display: flex;
        justify-content: space-between;
      }
    }

    .image-wrapper .image {
      width: 100%;
      border-radius: 8px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mat-button {
        background-color: #006dd1;
        color: white;

        &:hover {
          opacity: 0.75;
        }

        &.liked {
          background-color: green !important;
        }
      }
    }

    .statistics {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }

    .categories {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 500px;

      .category {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          font-weight: 700;
        }
      }
    }
  }

  .liked {
    background-color: green;
  }
}
