mat-card {
  width: 200px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .category {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
